@font-face {
  font-family: ma2web;
  src: url("../fonts/Manrope-Regular.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: ma2web;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ma2web {
  display: flex;
  background: linear-gradient(
    142deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 85%,
    rgba(2, 0, 36, 1) 100%
  );
  min-height: 100vh;
  color: #fff;

  .btn {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0%;
      background: #fff;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all ease-in-out 300ms;
    }

    &:hover:after {
      height: 100%;
      border-radius: 0%;
    }

    &:hover {
      color: rgba(2, 0, 36, 1);
    }
  }

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .navbar {
    min-width: 300px;
    position: relative;
    z-index: 999;

    .avatar {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      h1 {
        margin-bottom: 5px;
        font-size: 20px;
      }

      h2 {
        color: #999;
        font-size: 17px;
      }

      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-right: 10px;
        padding: 10px;
      }
    }

    .navbar-items {
      padding: 10px;

      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        display: block;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }

      a.active {
        background: rgba(255, 255, 255, 0.1);
      }

      .download-resume {
        color: gold;
        display: flex;
        align-items: center;
        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .contents {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 999;

    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      animation: contents 500ms ease-in-out forwards;

      h2 {
        margin: 5px;
      }

      p {
        max-width: 50%;
        margin: 10px auto 20px;
        color: #999;
      }
    }

    .skills-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        flex-wrap: wrap;

        .skill {
          text-align: center;
          width: 8%;
          padding: 20px;
          opacity: 0;

          h3 {
            margin: 20px auto;
          }
        }
      }
    }
  }

  @keyframes contents {
    // animation: contents 500ms ease-in-out forwards;
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
